html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    ::-webkit-scrollbar{
      width: 10px;
    }
    ::-webkit-scrollbar-track{
      background-color: transparent;
      border: 1px solid gray;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb{
      background-color:beige;
      border-radius: 5px;
      width: 6px;
    }
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
  }
  
  body {
    background-color: #0c0c1d;
    color: lightgray;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  section {
    height: 100vh;
    //width: 100vw;
    scroll-snap-align: center;
    overflow: hidden;
  }